/* ------------------------

    breakpoints:
    tablet & up -> (min-width: 960px)

    ------------------------ */

/* ------ animations ------ */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

/* ------ root custom properties ------ */
:root {
    --color-dark: 252, 6%, 17%;
    --color-light: 0, 0%, 97%;
    --color-brand: 204, 78%, 61%;
    --color-brand-alt: 210, 57%, 44%;
    --color-black: 0, 0%, 0%;
    --color-white: 0, 0%, 100%;

    --font-display: "Playfair Display", system-ui;
    --font-sans: "Lato", system-ui;
}

/* ------ styles ------ */
body {
    background-color: hsl(var(--color-dark));
    color: hsl(var(--color-light));
    font-family: var(--font-sans);
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

p {
    line-height: 150%;
}
hr {
        background-color: hsl(var(--color-light), 0.25);
        height: 5px;
        margin-top: 2rem;
        width: 3vw;
}
a {
    color: hsl(var(--color-brand), 0.9);
    text-decoration: none;
}
a:hover {
    color: hsl(var(--color-brand), 1);
}
img,
.avatar {
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.button {
    background-color: hsl(var(--color-brand));
    display: block;
    color: hsl(var(--color-light));
    padding: 1rem 2rem;
    text-align: center;
    transition: all 0.4s ease;
    width: 100%;
}
.button:hover {
    background-color: hsl(var(--color-brand-alt));
    color: hsl(var(--color-light));
}
.card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
}
.card {
    background-color: hsl(var(--color-light), 0.50);;
    border-radius: 1rem;
    color: hsl(var(--color-dark));
    display: grid;
    align-items: center;
    padding: 1rem 2rem;
}
.center {
    text-align: center;
}
.featured-image {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.featured-image img {
    display: block;
    height: auto;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 2rem;
    margin-inline: auto;
    width: 100%;
}
.grid-ish {
    display: block;
    margin-inline: auto;
    max-width: 100ch;
}
.grid-ish > * {
    flex: 1 1 50%;
    padding-inline: 1rem;
}
.grid-ish .details {
    display: grid;
    align-items: center;
}
.grid-ish .details hr {
    margin-bottom: 2rem;
}

/* ------ media query for tablet size and larger ------ */
@media screen and (min-width: 960px) {
    .button {
        width: fit-content;
    }
    .grid-ish {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}