/*  SITE HEADER

    If you want a header that contains a logo branding section
    and responsive navigation, include the following 
    @import at the top of `global.css` :

        @import url("site__header.css");

-------------------------------------------------------------- */
#site__header {
  background: hsl(var(--color-dark), 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0 2rem 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
#site__header a {
  border: none;
}

/* ------ site header branding ------ */
#site__header .brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}
#site__header .brand h1,
#site__header .brand h2 {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -10000px;
  overflow: hidden;
}
#site__header .brand a img.logo {
  height: auto;
  max-width: 250px;
}

/* ------ site header navigation ------ */
#site__header .nav {
  background-color: hsl(var(--color-dark), 1);
  display: grid;
  align-items: start;
  height: 100dvh;
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  width: 100%;
  z-index: 100;
}
#site__header > .nav > ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
#site__header > .nav > ul li {
  display: grid;
  place-items: center;
  margin-bottom: var(--sz-1x, 1rem);
  margin-inline: var(--sz-1x, 1rem);
}
#site__header > .nav > ul li a {
  display: block;
  font-family: var(--font-display);
  font-weight: 900;
  padding: var(--sz-2x, 2rem);
  opacity: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#site__header .nav__toggle {
  display: none;
}
#site__header .nav__toggle:checked ~ nav {
  transform: scale(1, 1);
}
#site__header .nav__toggle:checked ~ nav ul {
  padding-block: var(--sz-100, 1rem);
}
#site__header .nav__toggle:checked ~ nav ul li {
  padding-block: var(--sz-050, 0.5rem);
}
#site__header .nav__toggle:checked ~ nav ul li a {
  font-size: clamp(var(--sz-3x, 3rem), 2rem, var(--sz-1x, 1rem));
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
#site__header .nav__toggle:checked ~ .nav__toggle-label {
  transform: rotate(-45deg);
}
#site__header .nav__toggle:checked ~ .nav__toggle-label span:before {
  opacity: 0;
  bottom: auto;
}
#site__header .nav__toggle:checked ~ .nav__toggle-label span:after {
  transform: rotate(90deg);
  top: auto;
}
#site__header .nav__toggle-label {
  align-items: center;
  display: flex;
  height: 80%;
  position: absolute;
  top: 0;
  left: clamp( 1rem, 2rem, 3rem);
}
#site__header .nav__toggle-label span,
#site__header .nav__toggle-label span:before,
#site__header .nav__toggle-label span:after {
  background-color: hsl(var(--color-brand));
  border-radius: 2px;
  display: block;
  height: 5px;
  position: relative;
  transition: all ease-in-out 250ms;
  width: 1.5rem;
}
#site__header .nav__toggle-label span:before,
#site__header .nav__toggle-label span:after {
  content: "";
  position: absolute;
}
#site__header .nav__toggle-label span:before {
  bottom: var(--sz-1x, 0.75rem);
}
#site__header .nav__toggle-label span:after {
  top: var(--sz-1x, 0.75rem);
}
#site__header.scrolled {
  padding: var(--sz-2x, 2rem) var(--sz-1x, 1rem);
}

/* ------ media query for tablet size or larger ------ */
@media screen and (min-width: 960px) {

  /* ------ site header ------ */
  #site__header {
    background: linear-gradient(180deg, hsl(var(--color-dark), 1) 71%, hsl(var(--color-dark), 0) 100%);
  }
  #site__header .nav {
    all: unset;
    align-items: center;
    grid-column: 2 / span 2;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: flex-end;
  }
  #site__header .nav ul {
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
  }
  #site__header .nav ul li {
    margin: 0;
    width: fit-content;
  }
  #site__header .nav ul li a {
    display: block;
    opacity: 1;
    padding: 0 var(--sz-1x, 1rem);
    position: relative;
    transition: all 300ms ease-in-out;
    z-index: 100;
  }
  #site__header .nav__toggle-label {
    display: none;
  }
  #site__header .nav ul {
    padding: 0;
  }
  #site__header .nav ul li {
    padding: var(--sz-1x, 1rem);
  }
  #site__header .nav ul li.ext-link {
    display: none;
  }
  #site__header.scrolled .nav ul li a::before {
    top: calc(var(--sz-3x, 3rem) * -1);
  }
} /* end media queries */