---
import * as site from "../data/site.json";
import Layout from "../layouts/BaseLayout.astro";

// components
import Profile from "../components/Profile.astro";
import Projects from "../components/Projects.astro";
import Mission from "../components/Mission.astro";
import Certifications from "../components/Certifications.astro";
import Clients from "../components/Clients.astro";

const { description } = site;
const title = "Mack Richardson";
---

<Layout title={title} description={description}>
	<section id="hero" class="home-intro">
		<div>
			<h1>{title}</h1>
			<h2><span>a</span> FileMaker <span>&</span> Web Developer</h2>
		</div>
	</section>
	<Profile />
	<Certifications />
	<Projects />
	<Clients />
	<Mission />
</Layout>

<style>
	#hero {
		display: grid;
		align-items: center;
		height: 100dvh;
		padding: 10rem 5rem;
		text-align: center;
		position: relative;
	}
	#hero::after {
		background: url("/assets/images/logo.svg") 50% 50% no-repeat;
		background-size: contain;
		content: "";
		opacity: 0.1;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 90%;
		width: 100%;
	}
	#hero h1 {
		font-size: clamp(5rem, 8vw, 14rem);
		line-height: 100%;
		letter-spacing: clamp(0, -0.5rem, -0.5rem);
		margin-bottom: clamp(0.5rem, 1rem, 1.5rem);
	}
	#hero h2 {
		font-family: "Libre Baskerville", serif;
		font-size: clamp(1.5rem, 3vw, 7rem);
		font-weight: 400;
		font-style: normal;
	}
	#hero h2 span {
		font-style: italic;
	}
</style>
