---
// data imports
import * as site from "../data/site.json";

const { siteName, logo, author } = site;
---

<section class="brand">
    <a href="#home" title={siteName + " Logo"}><img src={logo} alt={author + " Logo"} class="site-logo" height="100" width="100" /></a>
</section>

<style>
    .brand {
        display: grid;
        justify-content: center;
    }

    .brand .site-logo {
        filter: invert(66%) sepia(27%) saturate(4932%) hue-rotate(178deg) brightness(102%) contrast(83%);
    }
</style>