---
// data imports
import * as site from "../data/site.json";
import Social from "./Social.astro";

const { siteName, url, favicon, logo, author } = site;
const { title, description } = Astro.props;
---
<section id="profile">
    <img src="/assets/images/mack-richardson.jpg" alt="Mack Richardson" width="500" height="500" id="profile-pic" />
    <div class="grid-ish">
        <div class="bio">
            <p>Mack Richardson is a seasoned FileMaker and web developer with over two decades of experience. He has a passion for creating efficient, user-friendly applications that solve real-world problems.</p>
            <a href="#mission" class="button">Contact Me</a>
            <Social />
        </div>
        <div class="timeline">
            <h5 class="center">Work Experience</h5>
            <hr />
            <ul>
                <li>
                    <date>2024 - Present</date>
                    <span>&rarr;</span> 
                    <b>LuminFire</b> 
                    <span>&rarr;</span>
                    Solutions Architect
                </li>
                <li>
                    <date>2023</date>
                    <span>&rarr;</span>
                    <b>Codence</b> 
                    <span>&rarr;</span>
                    Application Developer
                </li>
                <li>
                    <date>2014 - 2023</date>
                    <span>&rarr;</span>
                    <b>IF Group, LLC</b> 
                    <span>&rarr;</span>
                    IT Operations Manager
                </li>
                <li>
                    <date>2014 - 2017</date>
                    <span>&rarr;</span>
                    <b>Purchase Clinic</b> 
                    <span>&rarr;</span>
                    Web Developer
                </li>
                <li>
                    <date>2008 - 2022</date>
                    <span>&rarr;</span>
                    <b>Volvo Group</b> 
                    <span>&rarr;</span>
                    Application Developer
                </li>
            </ul>
        </div>
    </div>
</section>

<style>
    #profile {
        padding: 10rem 5rem;
    }
    #profile h5 {
        font-size: 2rem;
    }
    .grid-ish {
        max-width: 100ch;
    }
    .grid-ish > * {
        padding-inline: 2rem;
    }
    .bio {
        margin-bottom: 2rem;
    }
    .bio p {
        font-family: "Playfair Display", system-ui;
        font-optical-sizing: auto;
        font-weight: 900;
        font-size: 2.5rem;
        font-style: normal;
        letter-spacing: -1px;
        line-height: 125%;
        margin-bottom: inherit;
    }
    #profile-pic {
        border-radius: 100%;
        display: block;
        margin-bottom: 10rem;
        margin-inline: auto;
        height: auto;
        width: clamp( 250px, 90%, 500px );
    }
    .timeline ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .timeline ul li {
        border-bottom: 1px solid hsl(204, 78%, 61%, 50%);
        padding: 2rem 0;
    }
    .timeline ul li date {
        opacity: 0.5;
    }
    .timeline b {
        opacity: 0.7;
    }
    .timeline span {
        color: hsl(204, 78%, 61%);
    }
</style>