---
---

<div id="social">
    <a href="https://facebook.com/macktropolis" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://linkedin.com/in/macktropolis" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://twitter.com/Macktropolis" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://codepen.io/macktropolis" target="_blank"><i class="fa-brands fa-codepen"></i></a>
    <a href="https://instagram.com/Macktropolis" target="_blank"><i class="fa-brands fa-instagram"></i></a>
</div>

<style>
    #social {
        margin-top: 2rem;
    }
    a {
        color: hsl(204, 78%, 61%);
        font-size: 2.5rem;
        margin-right: 2rem;
    }
</style>