---
const title = "Comixbin";
const image = "/assets/images/projects/comixbin.png";
---

<section class="project">
    <div class="grid-ish">
        <div class="featured-image">
            <img src={image} alt={title} />
        </div>
        <div class="details">
            <article>
                <h4>{title}</h4>
                <hr />
                <p>
                    Comixbin makes managing your comic book collection easy.
                    Comixbin is built with Claris FileMaker Pro for desktop and
                    mobile devices.
                </p>
                <h5>Features</h5>
                <div class="features">
                    <ul>
                        <li>Multi-User Collection Management</li>
                        <li>Collection Loan Tracking</li>
                        <li>Wishlists</li>
                        <li>Issue Gap Reports</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>

<style>
    .project {
        padding: 5rem;
        padding-bottom: 0;
    }
    h4 {
        font-size: 3rem;
        text-align: center;
    }
    h5 {
        font-size: 2rem;
        margin-block: 1rem;
        text-align: left;
    }
    .features ul {
        font-size: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .features ul li {
        border-bottom: 1px solid hsl(0, 0%, 100%, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 1rem 0;
        max-width: 100%;
    }
    .features ul li::before {
        content: "✔";
        display: block;
        margin-right: 1rem;
    }
</style>
