---
const title = "Mission Control";
const image = "/assets/images/projects/mission-control-collage.png";
---

<section class="project">
    <div class="grid-ish">
        <div class="featured-image">
            <img src={image} alt={title} />
        </div>
        <div class="details">
            <article>
                <h4>{title}</h4>
                <hr />
                <p>
                    Mission Control started as a small FileMaker app to help me
                    keep track of Custom Functions I use regularly. Over the
                    years of development, it now helps me control and manage
                    most of the regular aspects of being a FileMaker Developer.
                    It has libraries to store keyboard shortcuts, custom
                    functions, useful websites. It also acts as a hub for easy
                    access to other FileMaker solutions I've built, such as, a
                    theme vault, default fields XML generator and a development
                    starter file. Mission Control helps me stay on target when
                    developing with FileMaker Pro.
                </p>
                <h5>Features</h5>
                <div class="features">
                    <ul>
                        <li>FileMaker Theme Vault</li>
                        <li>Default Fields XML Generator</li>
                        <li>fmBuilder Starter Solution</li>
                        <li>Custom Functions Library</li>
                        <li>Useful Websites Library</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>

<style>
    .project {
        padding: 5rem;
    }
    h4 {
        font-size: 3rem;
        text-align: center;
    }
    h5 {
        font-size: 2rem;
        margin-block: 1rem;
        text-align: left;
    }
    hr {
        margin-bottom: 1rem;
    }
    .features ul {
        font-size: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .features ul li {
        border-bottom: 1px solid hsl(0, 0%, 100%, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 1rem 0;
        max-width: 100%;
    }
    .features ul li::before {
        content: "✔";
        display: block;
        margin-right: 1rem;
    }
</style>
