---
// component imports
import Head from "../components/Head.astro";
import Foot from "../components/Foot.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title={title} description={description} />
  <body>
    <div id="home"></div>
    <Header slot="header" />
    <main>
      <slot />
    </main>
    <Footer slot="footer" />
    <Foot />
  </body>
</html>

<style>
  #home {
    position: absolute;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
  }
</style>